h1 New
p {{vm.hello}}
p
  label Quote
  input(type='text', ng-model='vm.quote.quote')
p
  label Author
  input(type='text', ng-model='vm.quote.author')
p
  label Image URL
  input(type='text', ng-model='vm.quote.image')
button(ng-click='vm.submit()') submit
button(ng-click='vm.home()') back to home